::selection {
    background-color: #c43a3f;
    color: antiquewhite;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

::-webkit-scrollbar-track {
    background-color: #b14847;
}

::-webkit-scrollbar-thumb {
    background-color: #300723;
    border-radius: 25px;
}

::-webkit-scrollbar-button {
    background-color: #b14847;
    height: 0px;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
}

a {
    color: #ff7f5d;
    text-decoration: none;
}

a:hover {
    color: #ffa790;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

/*----- Preloader -----*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ff7f5d;
    border-top-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*----- Hero Section -----*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("../img/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
    margin-bottom: -70px;
}

@media (max-width: 992px) {
    #hero {
        margin-bottom: -60px;
    }
}

#hero:before {
    content: "";
    background: rgba(21, 5, 23, 0.5)
        linear-gradient(
            rgba(26, 0, 33, 0.5) 0%,
            rgba(26, 0, 33, 0.5) 5%,
            rgba(38, 6, 51, 0.5) 40%,
            rgba(147, 47, 69, 0.7) 76%,
            rgba(236, 97, 93, 0.7) 94%,
            rgba(236, 97, 93, 0.5) 100%
        )
        repeat scroll 0% 0%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    color: #fff;
}

#hero h2 {
    color: #eee;
    margin: 15px 0 0 0;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 4px;
    transition: 0.5s;
    margin-top: 30px;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-started:hover {
    background: #ff7f5d;
    border: 2px solid #ff7f5d;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 30px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}
